[submodule "alcarin-cacher"]
	path = alcarin-cacher
	url = git@github.com:psychowico/alcarin-cacher.git
[submodule "alcarin-gameplay-server"]
	path = alcarin-gameplay-server
	url = git@github.com:psychowico/AlcarinGameplayServer.git
