{% extends "admin-layout" %}

{% block content %}
<div class="container" data-instance="Alcarin.Admin.TranslationsCenter">
<div class="translation-options row">
    <div class="span3">
        <fieldset>
            <legend>Phrase:</legend>
            <label target="choose-lang">Lang:
                <select id="choose-lang" class="choose-lang chosen">
                    {% for lang in languages %}
                    <option>{{ lang }}</option>
                    {% endfor %}
                </select>
            </label>
            <label target="choose-group">Group:
                <select id="choose-group" class="choose-group chosen">
                    {% for group in groups %}
                    <option>{{ group }}</option>
                    {% endfor %}
                </select>
            </label>
            <div class="phrase-search-container">
                <select id="phrases-list" class="phrases-list chosen-always-visible">
                </select>
            </div>

        </fieldset>
    </div>
    <div class="span9">
        <fieldset>
            <legend>Translation panel:</legend>
            <div class="hide sentence-editor">
                <div class="descr">
                    <p>{description}</p>
                </div>
            </div>
        </fieldset>
    </div>
</div>
</div>
{% endblock %}