{% extends "common-layout" %}

{% do headLink().appendBundle('admin') %}
{% do headScript().appendBundle('admin') %}

{% block title %}
    {{ headTitle('Alcarin - panel administracyjny') }}
{% endblock %}

{% block userbar_left %}
<li>
    <a href="{{ url('admin/default') }}">Admin</a>
</li>
{% endblock %}

{% block userbar_right %}
<li class="pull-right">
    <a href="{{ parentUri() }}">
        Up
    </a>
</li>
{% endblock %}