@import 'core';

.center(@size, @offset) {
  width: @size;
  height: @size;
  left: @offset;
  top: @offset;
}

.area-map {
  position: relative;
  width: 185px;
  height: 185px;
  float: right;
  margin-right: 15px;
  border-style: double;
  padding: 0px;
  background-color: #DCDCED;
  .rounded-corners(50%);
  overflow: hidden;
  .terrain {
    width: 193px;
    height:193px;
    position: absolute;
    left: -6px;
    top: -6px;
    overflow: hidden;
    .rounded-corners(50%);
  }
  .shadow {
    position: absolute;
    div {
      position: relative;
      .rounded-corners(50%);
      background: navy;
      opacity: 0.13;
    }
  }
  .characters {
    overflow: hidden;
    .rounded-corners(50%);
    position: absolute;
    width: 100%;
    height: 100%;
    .character.current div {
      background: #1100CC;
      z-index: 1;
    }
    .character {
      position: absolute;
      width: 0;
      height: 0;
      div {
        position: relative;
        border-style: double;
        border-width: 3px;

        padding: 0px;
        background-color: #3300CC;
        .rounded-corners(50%);
        .center(10px, -8px);
        &:hover {
          cursor: pointer;
          .center(12px, -9px);
        }
      }
    }
  }
}