@import 'core';

@spaces: 8px;
//38.2%
@left-ratio: 38.2%;


.both-containers() {
    background: rgba(255, 255, 255, 0.05);
    margin: 2 * @spaces @spaces 2 * @spaces @spaces;
    padding: 20px 30px 20px 30px;
    min-height: 560px;
    .rounded-corners;
}

.container {
  padding: 0;
  min-width: 1024px;
  width: 100%;
}

.game-container {
  font-family: "Helvetica";
  font-size: 12.5px;
  margin: 0px auto;
}

.left-container {
  width: @left-ratio;
  &>div {
    width:100%;
    &>div {
      .both-containers;
      margin-left: 20px;
      padding-right: 15px;
      div {
        position: absolute;
      }
    }
  }
}

.right-container {
  width: 100% - @left-ratio;
  &>div {
    &>div {
      .both-containers;
      margin-right: 20px;
      position: relative;
    }
  }
}

#game-events, #game-pages {
  position: relative;
  float:left;
  .events, .pages {
    min-height: 600px;
    float:left;
    width: 100%;
  }
}

.talking {
  >form {
    width:100%;
    display:table;
      border-spacing: 5px 0;
    .content {
      input { width:100%; height:auto; .border-box() }
       width:auto;
       display:table-cell;
       overflow: hidden;
    }
    .submit {
       width:60px;
       display:table-cell;
    }
  }
}