@import 'core';

@spaces: 8px;
//38.2%
@left-ratio: 38.2%;


.both-containers() {
    background: rgba(255, 255, 255, 0.05);
    margin: 2 * @spaces @spaces 2 * @spaces @spaces;
    padding: 20px 30px 20px 30px;
    min-height: 560px;
    .rounded-corners;
}

.container {
  padding: 0;
  min-width: 1024px;
  width: 100%;
}

.game-container {
  font-family: "Helvetica";
  font-size: 12.5px;
  margin: 0px auto;
}

.left-container {
  width: @left-ratio;
  &>div {
    width:100%;
    &>div {
      .both-containers;
      margin-left: 20px;
      padding-right: 15px;
      div {
        position: absolute;
      }
    }
  }
}

.right-container {
  width: 100% - @left-ratio;
  &>div {
    &>div {
      .both-containers;
      margin-right: 20px;
      position: relative;
    }
  }
}

.right-container, .left-container {
  position: relative;
  float:left;
  >div {
    min-height: 600px;
    float:left;
    width: 100%;
  }
}

.talking {
  >form {
    width:100%;
    display:table;
    margin-bottom: 9px;
    .content {
      textarea {
        width:100%;
        height:40px;
        margin: 0;
        resize: vertical;
        .border-box()
      }
      width:auto;
      display:table-cell;
      overflow: hidden;
      padding-right: 5px;
    }
    .submit {
      input {
        height:40px;
      }
      width:60px;
      display:table-cell;
    }
  }
}

.events-container {
  min-height: 600px;
  .game-event {
    border: 1px solid silver;
    margin: 1px;
    padding:3px;
    .time {
      margin-right: 5px;
      font-weight: bold;
    }
    .content {

    }
  }
}