@import 'core';

.rounded-bar (@radius: 17px) {
  -webkit-border-bottom-right-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-bottomright: @radius;
  -moz-border-radius-bottomleft: @radius;
  -o-border-radius-bottomright: @radius;
  -o-border-radius-bottomleft: @radius;
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}

@spaces : 8px;

#user-bar {
    height: 35px;
    margin: 0 @spaces 0px @spaces;
    padding-top: 5px;
    .rounded-bar;
    background: rgba(255, 255, 255, 0.05);
    ul {
        margin: 0;
        list-style: none;
        li {
            margin-left: 20px;
            float: left;
            border: 1px solid red;
            padding: 2px 10px 2px 10px;
        }
    }
}