{% extends "admin-layout" %}

{% block content %}

    <div>

    <h1>{{ context['email'] }}</h1>

    Krótkie info o użytkowniku.

    {% if isAllowed( 'ADMIN_PRIVILAGES_MANAGING' ) %}
    <a href="{{ uri('admin/users', { controller: 'privilages', id: context['id'] }) }}" class="btn">
        Edytuj uprawnienia
    </a>
    {% endif %}

    </div>

{% endblock %}