{% extends "admin-layout" %}

{% block content %}
    <div class="general-users-list">
    {% for user in users %}
        <a href="{{ url('admin/default', {controller: 'users', id: user['id']}) }}">
            <div>
                {{ user['email'] }}
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}