{% extends "alcarin-layout" %}

{% block leftcontent %}
<div id="create-char">
    <div>
        Tu będziemy mieć tekst o tworzeniu postaci, wybór ras, ograniczenia ilościowe,
        ostrzeżenia o blokowaniu slotów etc. Musi być dużo informacji.
    </div>
</div>
{% endblock %}