<div class="gateways-list">
    <h2>{{ _('Gateways') }}</h2>
    <div class="add clearfix">
        <button class="btn btn-inverse">{{ _('Add group') }}</button>
    </div>
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
            <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordion2" href="#collapse-1">
                Gateways 1<button class="close">&times;</button>
            </a>
            </div>
            <div id="collapse-1" class="accordion-body collapse in">
            <div class="accordion-inner navbar-inverse">
                <ul class="nav nav-list gateways-list">
                    <li><a href="#"><i class="icon-flag"></i>Home</a></li>
                    <li><a href="#"><i class="icon-flag"></i>Library</a></li>
                    <li><a href="#"><i class="icon-flag"></i>Home</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-plus"></i>Add</a></li>
                </ul>
            </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
            <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordion2" href="#gateway-ungrouped">
                Ungrouped
            </a>
            </div>
            <div id="gateway-ungrouped" class="accordion-body collapse">
            <div class="accordion-inner navbar-inverse">
                <ul class="nav nav-list gateways-list">
                    <li><a href="#"><i class="icon-flag"></i>non-Home</a></li>
                    <li><a href="#"><i class="icon-flag"></i>non-Library</a></li>
                    <li><a href="#"><i class="icon-flag"></i>non-Home</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-plus"></i>Add</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>