<div class="gateway-edit accordion-group hide">
    <div class="accordion-heading">
        <div class="accordion-toggle text-center">
            {{ _('Edit gateway') }}<button class="close">×</button>
        </div>
    </div>
    <div class="accordion-inner">
        {% do form.setAttribute('action', uri('orbis/default', {controller: 'gateways'}) ~ '/{item.id}') %}

        {{ bootstrap(form, 'horizontal') }}
    </div>
</div>