<div class="gateways-groups">
    <div class="add clearfix">
        <button class="btn btn-inverse add-group">{{ _('Add group') }}</button>
    </div>
    <div class="accordion active-group">
        {# js active list prototype #}
        <div class="accordion-group">
            <div class="accordion-heading">
                <div class="group-name editable" data-toggle="manual" data-type="text"
                        data-placement="left" data-name="group-name" data-params="{mode: 'group'}"
                        data-value="{item.group_name}" data-autotext="never"
                        data-placeholder="group new name" data-url="{{ uri() }}/{item.group_name}" data-send="always">

                <button class="edit-group btn-inverse {item.edit_btn_class}">
                    <i class="icon-edit icon-white"></i>
                </button>

                <a href="#{item.group_href}" class="group-header accordion-toggle text-center"
                    data-toggle="collapse" data-parent="#acc-group">
                    <span>
                        {item.group_name}
                    </span>
                    <button class="close {item.edit_btn_class}">&times;</button>
                </a>
            </div>
            </div>
            <div id="{item.group_href}" class="accordion-body collapse {item.group_class}">
                <div class="accordion-inner navbar-inverse">
                    <ul class="nav nav-list items">
                        {# js active list prototype #}
                        <li class="gateway" data-gateway-id="{item.id}">
                            <a href="#" style="display:inline" title="{item.description}">
                                <i class="icon-flag"></i><span class="name">{item.name}</span>
                            </a>
                            <span class="description">, {item.description}</span>
                        </li>
                    </ul>
                    <ul class="nav nav-list">
                        <li class="divider"></li>
                        <li><a href="#" class="create-gateway"><i class="icon-plus"></i>Add</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>