{% extends "admin-layout" %}

{% block content %}
<div class="row">
    <div class="span6">
        <h2>{{ _('Minimap') }}</h2>
        <div class="minimap">
            <canvas id="minimap" width="500" height="500">

            </canvas>
        </div>
    </div>
    <div class="span6">
        {{ partial('/admin/orbis/gateways-list', {}) }}
        {{ partial('/admin/orbis/gateway-edit', {form: gateway_form}) }}
    </div>
</div>
{% endblock %}