{% extends "guest-layout" %}

{% block content %}
<div>
    <strong>Module:</strong>        ZendSkeletonModule &raquo;
    <strong>Controller:</strong>    Skeleton &raquo;
    <strong>Action:</strong>        index
</div>
{% endblock %}