@import 'core';

.gateways-groups {
    .edit-btn {
        margin-left:5px;
    }
    .add {
        button {
            width: 220px;
            float: right;
        }
        margin-bottom: 10px;
    }
    .edit-group {
        float:left;
        margin: 5px;
    }
}

.gateways-list {
    position: relative;
    &>div {
        position: absolute;
        width: 100%;
    }
}

.gateway-edit {
    .accordion-inner {
        padding-top: 20px;
        padding-bottom: 0;
    }
}