@import 'core';

.map-editor {
    .toolbar {
        .brushes {
            .current {
                padding: 10px;
                .brush-color {
                    display:block;
                    height: 50px;
                    width: 50px;
                    border: 2px solid rgba(0,0,0,0.55);
                    .rounded-corners(5px);
                    background-color: green;
                    cursor: pointer;
                }
            }
        }
    }

    @btn_size: 25px;
    @canvas_size: 500px;
     .map-viewport {
        position: relative;
        width: @canvas_size + 2 * @btn_size;
        height: @canvas_size + 2 * @btn_size;
        .btn {
            position: absolute;
            margin: 0;
            &.left {
                width: @btn_size;
                height: @canvas_size;
                top: @btn_size;
            }
            &.right {
                width: @btn_size;
                height: @canvas_size;
                top: @btn_size;
                left: @canvas_size + @btn_size;
            }
            &.top {
                height: @btn_size;
                width: @canvas_size;
                left: @btn_size;
            }
            &.bottom {
                height: @btn_size;
                width: @canvas_size;
                left: @btn_size;
                top: @canvas_size + @btn_size;
            }
        }
        canvas {
            margin: @btn_size;
            /* Start http://www.cursors-4u.com */
            cursor: url(http://www.useragentman.com/examples/cursor/canvasPainter/canvas_painter_v0.1/images/gimpBrush.png) 5 25, url(http://cur.cursors-4u.net/others/oth-2/oth198.cur), pointer
            /* End http://www.cursors-4u.com */
        }
    }
}