{% extends "common-layout" %}

{% do headLink().appendBundle('player') %}
{% do headScript().appendBundle('player') %}

{% block title %}
    {{ headTitle('Alcarin') }}
{% endblock %}

{% block content %}
    <div>
        <section class="left-container">
            <div>
                <div class="pages-container">
                    {% block leftcontent %}
                    {% endblock %}
                </div>
            </div>
        </section>

        {% block middlecontent %}
        {% endblock %}

        <section class="right-container">
            <div>
                <div>
                    {% block rightcontent %}
                    {% endblock %}
                </div>
            </div>
        </section>

        <div style="clear: both"></div>
    </div>

{% endblock %}