ul#admin-pages {
  width: 800px;
  height: 600px;
  background: #1d1d1d;
  margin: 0 auto;
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
}
ul#admin-pages li {
  width: 100px;
  height: 100px;
  margin: 18px 0 0 28px;
  float: left;
}
ul#admin-pages li a,
ul#admin-pages li a:visited {
  width: 100%;
  height: 100%;
  background: #191919;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  border: 1px solid #0f0f0f;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
ul#admin-pages li a img,
ul#admin-pages li a:visited img {
  margin: 5px;
  width: 90%;
}
ul#admin-pages li a:hover,
ul#admin-pages li a:visited:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
