body,
html,
.container {
  height: 100%;
}
h2 {
  font-family: dosissemibold;
  font-size: 34.5px;
}
.game-container {
  height: 95%;
}
.game-container footer {
  height: 5%;
}
.game-container > div {
  padding-bottom: 5px;
}
form input[type="checkbox"] {
  margin: 5px;
}
a {
  color: #8f8f8f;
}
a:hover {
  color: #8f8f8f;
}
ul .horizontal-divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
}
