body,
html,
.container {
  height: 100%;
}
.game-container {
  height: 95%;
}
.game-container footer {
  height: 5%;
}
.game-container div {
  margin: 14px;
  padding-bottom: 5px;
}
form input[type="checkbox"] {
  margin: 5px;
}
