body {
  color: #8f8f8f;
  padding: 0;
  background: #323232;
}
.container {
  padding: 0;
}
.game-container {
  font-family: "Helvetica";
  font-size: 12.5px;
  margin: 0px auto;
  padding: 0 8px 0 8px;
  background: rgba(42, 42, 42, 0.3);
}
#game-events {
  width: 38.2%;
}
#game-events .events {
  width: 100%;
}
#game-events .events .events-container {
  background: rgba(255, 255, 255, 0.05);
  margin: 16px 8px 16px 8px;
  padding: 20px 30px 20px 30px;
  min-height: 560px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  padding-right: 15px;
}
#game-pages {
  width: 61.8%;
}
#game-pages .pages .pages-container {
  background: rgba(255, 255, 255, 0.05);
  margin: 16px 8px 16px 8px;
  padding: 20px 30px 20px 30px;
  min-height: 560px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  position: relative;
}
#game-pages .pages .pages-container div {
  position: absolute;
}
#game-events,
#game-pages {
  position: relative;
  float: left;
}
#game-events .events,
#game-pages .events,
#game-events .pages,
#game-pages .pages {
  min-height: 600px;
  float: left;
  width: 100%;
}
