.container {
  padding: 0;
  min-width: 1024px;
  width: 100%;
}
.game-container {
  font-family: "Helvetica";
  font-size: 12.5px;
  margin: 0px auto;
}
.left-container {
  width: 38.2%;
}
.left-container > div {
  width: 100%;
}
.left-container > div > div {
  background: rgba(255, 255, 255, 0.05);
  margin: 16px 8px 16px 8px;
  padding: 20px 30px 20px 30px;
  min-height: 560px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  margin-left: 20px;
  padding-right: 15px;
}
.right-container {
  width: 61.8%;
}
.right-container > div > div {
  background: rgba(255, 255, 255, 0.05);
  margin: 16px 8px 16px 8px;
  padding: 20px 30px 20px 30px;
  min-height: 560px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  margin-right: 20px;
  position: relative;
}
.right-container,
.left-container {
  position: relative;
  float: left;
}
.right-container > div,
.left-container > div {
  min-height: 600px;
  float: left;
  width: 100%;
}
.talking > form {
  width: 100%;
  display: table;
  margin-bottom: 9px;
}
.talking > form .content {
  width: auto;
  display: table-cell;
  overflow: hidden;
  padding-right: 5px;
}
.talking > form .content textarea {
  width: 100%;
  height: 40px;
  margin: 0;
  resize: vertical;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.talking > form .submit {
  width: 60px;
  display: table-cell;
}
.talking > form .submit input {
  height: 40px;
}
.events-container {
  min-height: 600px;
}
.events-container .game-event {
  margin: 1px;
  padding: 3px;
}
.events-container .game-event .time {
  margin-right: 5px;
  font-weight: bold;
}
.events-container .game-event .content {
  font-size: 10.5pt;
}
