.container {
  padding: 0;
  min-width: 1024px;
  width: 100%;
}
.game-container {
  font-family: "Helvetica";
  font-size: 12.5px;
  margin: 0px auto;
}
.left-container {
  width: 38.2%;
}
.left-container > div {
  width: 100%;
}
.left-container > div > div {
  background: rgba(255, 255, 255, 0.05);
  margin: 16px 8px 16px 8px;
  padding: 20px 30px 20px 30px;
  min-height: 560px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  margin-left: 20px;
  padding-right: 15px;
}
.left-container > div > div div {
  position: absolute;
}
.right-container {
  width: 61.8%;
}
.right-container > div > div {
  background: rgba(255, 255, 255, 0.05);
  margin: 16px 8px 16px 8px;
  padding: 20px 30px 20px 30px;
  min-height: 560px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
  margin-right: 20px;
  position: relative;
}
#game-events,
#game-pages {
  position: relative;
  float: left;
}
#game-events .events,
#game-pages .events,
#game-events .pages,
#game-pages .pages {
  min-height: 600px;
  float: left;
  width: 100%;
}
.talking > form {
  width: 100%;
  display: table;
  border-spacing: 5px 0;
}
.talking > form .content {
  width: auto;
  display: table-cell;
  overflow: hidden;
}
.talking > form .content input {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.talking > form .submit {
  width: 60px;
  display: table-cell;
}
