#user-bar {
  font-size: 15px;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
  font-weight: bold;
  height: 40px;
  margin: 0 8px;
  -webkit-border-bottom-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
  -moz-border-radius-bottomright: 17px;
  -moz-border-radius-bottomleft: 17px;
  -o-border-radius-bottomright: 17px;
  -o-border-radius-bottomleft: 17px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
}
#user-bar ul {
  margin: 0;
  list-style: none;
  height: 100%;
}
#user-bar ul li {
  margin: 0;
  padding: 0;
  height: 100%;
  float: left;
  background: rgba(32, 124, 229, 0.1);
  -webkit-border-bottom-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
  -moz-border-radius-bottomright: 17px;
  -moz-border-radius-bottomleft: 17px;
  -o-border-radius-bottomright: 17px;
  -o-border-radius-bottomleft: 17px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
}
#user-bar ul li:nth-child(odd) {
  background: rgba(32, 124, 229, 0.15);
}
#user-bar ul li:hover {
  background: rgba(32, 124, 229, 0.3);
}
#user-bar ul li * {
  padding: 10px;
  display: block;
}
#user-bar ul li.logout-btn {
  float: right;
}
