body {
  background: url('../../img/pattern_40.gif') repeat top left;
}
#user-bar {
  height: 35px;
  margin: 0 8px 0px 8px;
  padding-top: 5px;
  -webkit-border-bottom-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
  -moz-border-radius-bottomright: 17px;
  -moz-border-radius-bottomleft: 17px;
  -o-border-radius-bottomright: 17px;
  -o-border-radius-bottomleft: 17px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
  background: rgba(255, 255, 255, 0.05);
}
#user-bar ul {
  margin: 0;
  list-style: none;
}
#user-bar ul li {
  margin-left: 20px;
  float: left;
  border: 1px solid red;
  padding: 2px 10px 2px 10px;
}
