.gateways-groups .edit-btn {
  margin-left: 5px;
}
.gateways-groups .add {
  margin-bottom: 10px;
}
.gateways-groups .add button {
  width: 220px;
  float: right;
}
.gateways-groups .edit-group {
  float: left;
  margin: 5px;
}
.gateways-list {
  position: relative;
}
.gateways-list > div {
  position: absolute;
  width: 100%;
}
.gateways-list .gateway .description {
  font-style: italic;
  color: gray;
}
.gateway-edit .accordion-inner {
  padding-top: 20px;
  padding-bottom: 0;
}
.gateway-edit .controls input,
.gateway-edit .controls textarea {
  width: 310px;
}
.gateway-edit .controls select {
  width: 325px;
}
.gateway-edit .controls input[type="submit"] {
  width: 100px;
  float: right;
  margin-right: 35px;
}
