.gateways-groups .edit-btn {
  margin-left: 5px;
}
.gateways-groups .add {
  margin-bottom: 10px;
}
.gateways-groups .add button {
  width: 220px;
  float: right;
}
.gateways-list {
  position: relative;
}
.gateways-list > div {
  position: absolute;
  width: 100%;
}
.gateway-edit .accordion-inner {
  padding-top: 20px;
  padding-bottom: 0;
}
