.map-editor .toolbar .brushes .current {
  padding: 10px;
}
.map-editor .toolbar .brushes .current .brush-color {
  display: block;
  height: 50px;
  width: 50px;
  border: 2px solid rgba(0, 0, 0, 0.55);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: green;
  cursor: pointer;
}
.map-editor .toolbar .brushes .current .size {
  line-height: 50px;
}
.map-editor .toolbar .brushes .current .size label {
  margin: 2px 0 0 -15px;
  float: left;
  display: inline;
  vertical-align: middle;
}
.map-editor .toolbar .brushes .current .size .slider {
  margin: 5px 0 0 40px;
}
.map-editor .map-viewport {
  position: relative;
  width: 550px;
  height: 550px;
}
.map-editor .map-viewport .btn {
  position: absolute;
  margin: 0;
}
.map-editor .map-viewport .btn.left {
  width: 25px;
  height: 500px;
  top: 25px;
}
.map-editor .map-viewport .btn.right {
  width: 25px;
  height: 500px;
  top: 25px;
  left: 525px;
}
.map-editor .map-viewport .btn.top {
  height: 25px;
  width: 500px;
  left: 25px;
}
.map-editor .map-viewport .btn.bottom {
  height: 25px;
  width: 500px;
  left: 25px;
  top: 525px;
}
.map-editor .map-viewport canvas {
  margin: 25px;
  /* Start http://www.cursors-4u.com */

  cursor: url(http://www.useragentman.com/examples/cursor/canvasPainter/canvas_painter_v0.1/images/gimpBrush.png) 5 25, url(http://cur.cursors-4u.net/others/oth-2/oth198.cur), pointer /* End http://www.cursors-4u.com */
;
}
