{% extends "admin-layout" %}

{% block content %}
<div class="container">
    <div class="translation-options row" ng-app="translations"  ng-controller="Alcarin.Admin.Translations">
        <div class="span3">
            <fieldset>
                <legend>Phrase:</legend>
                <label target="choose-lang">Lang:
                    <select id="choose-lang" class="chosen"
                            ng-model="choose.lang" ng-change="reloadSentences()" >
                        {% for lang in languages %}
                        <option>{{ lang }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label target="choose-group">
                    Group:
                    <select id="choose-group" class="chosen"
                        ng-model="choose.group" ng-change="reloadSentences()">
                        {% for group in groups %}
                        <option>{{ group }}</option>
                        {% endfor %}
                    </select>
                </label>
                <div class="phrase-search-container">
                    <!-- chosen-always-visible -->
                    <select class="chosen-always-visible" ng-options="p.tagid for p in phrases"
                        ng-model="selected" alc-chosen-watch="phrases" ng-change="loadSentence()">
                    </select>
                </div>

            </fieldset>
        </div>
        <div class="span9" ng-controller="Alcarin.Admin.SelectedTranslation">
            <form name="sentenceForm" ng-submit="saveSentence()">
                <fieldset>
                    <legend>Translation panel: <span>{* selected.tagid *}</span></legend>
                    <div class="sentence-editor" ng-show='tag != null'>
                        <div class="row-fluid">
                            <label>Viariety:
                                <!-- key as value for (key, value) in varieties -->
                                <select name="descr" class="span12" ng-model="variety"
                                        ng-options="obj.name as obj.name for (key, obj) in tag.defaults">
                                </select>
                            </label>
                        </div>
                        <div class="row-fluid">
                            <label>Translation ({* choose.lang *}):
                                <textarea name="descr" class="span12" ng-model="tag.content[variety]"></textarea>
                            </label>
                        </div>
                        <div class="descr">
                            <h4>Description:</h4>
                            <span>{* tag.descr *}</span>
                        </div>
                        {#<div class="defaults">
                            <h4>Defaults values:</h4>
                            <ul>
                                <li ng-repeat="def in tag.defaults">
                                    <span>{* def.name *}</span> - <span>{* def.value *}</span>
                                </li>
                            </ul>
                        </div>#}
                        <div class="pull-right">
                            <button class="btn span2" ng-disabled="!sentenceForm.$dirty || saving">Save</button>
                        </div>
                    </div>
                </fieldset>
            <form>
        </div>
    </div>
</div>
{% endblock %}