{% extends "admin-layout" %}

{% block content %}
<div class="container">
    <div class="translation-options row" ng-app="translations"  ng-controller="Alcarin.Admin.Translations">
        <div class="span3">
            <fieldset>
                <legend>Phrase:</legend>
                <label target="choose-lang">Lang:
                    <select id="choose-lang" class="choose-lang chosen"
                            ng-model="choose.lang" ng-change="reloadPhrases()" >
                        {% for lang in languages %}
                        <option>{{ lang }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label target="choose-group">Group:
                    <select id="choose-group" class="choose-group chosen"
                        ng-model="choose.group" ng-change="reloadPhrases()">
                        {% for group in groups %}
                        <option>{{ group }}</option>
                        {% endfor %}
                    </select>
                </label>
                <div class="phrase-search-container">
                    <!-- chosen-always-visible -->
                    <select id="phrases-list" class="chosen-always-visible phrases-list" ng-options="p for p in phrases.sentences"
                        ng-model="tag.id" ng-chosen-watch="phrases.sentences" ng-change="loadSentence()">
                    </select>
                </div>

            </fieldset>
        </div>
        <div class="span9">
            <fieldset>
                <legend>Translation panel:</legend>
                <div class="sentence-editor">
                    <div class="descr">
                        <p>{* tag.descr *}</p>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}