@import 'core';

ul#admin-pages {
    width: 800px;
    height: 600px;
    background: rgb(29, 29, 29);
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
    list-style-type:none;
    .rounded-corners;
    li {
        width: 100px;
        height: 100px;
        margin: 18px 0 0 28px;
        float: left;
        a, a:visited {
            width: 100%;
            height: 100%;
            background: rgb(25, 25, 25);
            .rounded-corners;
            border: 1px solid rgb(15, 15, 15);
            display: block;
            position: relative;
            text-decoration:none;
            .transition;
            &:hover {
                .scale(1.2)
            }
        }
    }
}
