<div class="area-map" ng-controller="Alcarin.Game.Views.AreaMap">
    <canvas class="terrain" map-radius="radius" map-fields="terrain"
            map-center="center" on-drawn="onTerrainReady()" alc-area-map>
    </canvas>
    <div class="shadow" alc-range-limits><div></div></div>
    <div class="characters" ng-controller="Alcarin.Game.Views.Map.Chars">
        <div class="character" alc-character-token="char" ng-repeat="char in charslist"
            player-character="charid">
            <div></div>
        </div>
    </div>
    <div class="move-target" alc-move-target><div></div></div>
</div>