{% extends "alcarin-layout" %}

{% do headScript().appendBundle('player') %}


{% set root_app        = "game" %}
{% set root_controller = "Alcarin.Game.App" %}

{% block leftcontent %}
    <div ng-view>
    </div>
{% endblock %}

{% block middlecontent %}
    <script type="text/javascript">
        window.charid = '{{ charid }}';
    </script>
    <div id="main-nav">
        <nav>
            <ul class="nav-bar">
                <li><a href="#/home"><i class="icon-eye-open"></i></a></li>
                <li><a href="#/chars"><i class="icon-user"></i></a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block rightcontent %}
    {# do form.setAttribute('action', uri('orbis/default', {controller: 'gateways'}) ~ '/{item.id}') #}
    <div class="events-container" ng-controller="Alcarin.Game.GameEvents">
        <div class="talking">
            <!-- layout trick to nice, flexible panel -->

            {{ bootstrap().openTag(forms['talking']) | raw }}

            <div class="content" alc-spin="sending">
                {{ formElement(forms['talking'].get('content')) }}
            </div>
            <div class="submit">
                <input type="submit" class="btn" value="Mów" tabindex="2">
            </div>

            {{ bootstrap().closeTag() | raw }}
        </div>
        <div class="events-container" alc-spin="gameEvents == null">
            <div class="game-event" ng-repeat="event in gameEvents">
                <span class="time">{* event.time | EventTime *}</span>
                <span class="content">
                    <span ng-repeat="part in event.body">
                        <span ng-switch on="part.type">
                            <span ng-switch-when="text">{* part.text *}</span>
                            <span ng-switch-when="char">
                                <a href="#" ng-click="charClicked(part)">{* part.text *}</a>
                            </span>
                            <span ng-switch-default>
                                <!-- Unresolved GameEvent argument -->
                            </span>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
{% endblock %}