{% extends "alcarin-layout" %}

{% block leftcontent %}
    {% for class in ['home', 'glass', 'plane', 'eye-close', 'circle-arrow-up', 'calendar'] %}
    <div ng-view>
    </div>
    {% endfor %}
{% endblock %}

{% block middlecontent %}
    <div id="main-nav">
        <nav>
            <ul class="nav-bar">
                {% for class in ['list', 'glass', 'plane', 'eye-close', 'circle-arrow-up', 'calendar'] %}
                <li {% if class == href %} class="current" {% endif %}>
                    <a href="?href={{class}}" class="active-link" data-hash-href="{{class}}">
                        <i class="icon-{{class}}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block rightcontent %}
    {# do form.setAttribute('action', uri('orbis/default', {controller: 'gateways'}) ~ '/{item.id}') #}
    <div class="talking">
        {{ bootstrap(forms['talking'], 'inline') }}
    </div>
{% endblock %}