{% extends "guest-layout" %}

{% block content %}
    <h1>Register</h1>

    {% set form = registerForm %}
        {% do form.prepare()
                  .setAttribute('action', url('zfcuser/register'))
                  .setAttribute('method', 'post') %}

    {{ form().openTag(form) | raw }}
        <dl class="zend_form">
            {{ formCollection(form) }}
        </dl>
        {% if redirect is defined %}
            <input type="hidden" name="redirect" value="{{ redirect }}" />
        {% endif %}
    {{ form().closeTag() | raw }}
{% endblock %}