<div class="gateway-edit accordion-group ">
    <div class="accordion-heading">
        <div class="accordion-toggle text-center">
            {* title *}
            {{ help('On minimap you can see selected gateway position -
                     you can drag and drop it where you want.') }}
            <a href="#/groups/{*rel.group*}" class="close">×</a>
        </div>
    </div>
    <div class="accordion-inner">
        {{ bootstrap(form, 'horizontal') }}
    </div>
</div>