<div class="gateways-groups">
    <div class="add clearfix">
        {{ help('Here you can create new gateways and change it position.
                 To edit existing gateway click it name.') }}
        <button class="btn btn-inverse add-group">{{ _('Add group') }}</button>
    </div>
    <div class="accordion active-group">
        <div class="accordion-group" ng-repeat="group in gateways_groups">
            <div class="accordion-heading">
                <div class="group-name">
                    <div ng-show="group.name != 0">
                        <button class="edit-group btn-inverse"
                            alc-x-editable="{value: group.name, success: rename(group)}" data-placement="left" data-name="group-name"
                            data-type="text" data-params="{mode: 'group'}" data-display="false"
                            data-placeholder="group new name" data-send="always">
                            <i class="icon-edit icon-white"></i>
                        </button>
                    </div>

                    <a ng-click="$parent.toggleGroup(group)" class="group-header accordion-toggle text-center"
                        data-toggle="collapse" data-parent="#acc-group">
                        <span>{* group.displayname() *}</span>
                        <button ng-show="group.name != 0" class="close" ng-click="deleteGroup(group)">&times;</button>
                    </a>
                </div>
            </div>
            <div class="accordion-body collapse" ng-class="{in: group.name == active_group}">
                <div class="accordion-inner navbar-inverse">
                    <ul class="items unstyled">
                        <li class="gateway" ng-repeat="gateway in group.gateways">
                            <button class="close" ng-click="deleteGateway(group, gateway)">&times;</button>
                            <a href="#/gateway/edit/{*gateway.id*}" class="edit btn-mini btn btn-inverse">EDIT</a>
                            {% set _href = url('orbis', {controller: 'editor'}) ~ "#x={* gateway.x *}&y={* gateway.y *}" %}
                            <a ng-href="{{_href}}" ui-event="{mouseenter: 'hoverGateway(gateway)', mouseleave: 'leaveGateway()'}"
                                title="{* gateway.description *}">
                                <i class="icon-flag"></i><span class="name">{* gateway.name *}</span>
                                <span class="description">, {* gateway.description *}</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="unstyled">
                        <li class="horizontal-divider"></li>
                        <li><a href="#/gateway/new/{*group.name*}" class="create-gateway"><i class="icon-plus"></i>Add</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>