@-webkit-keyframes targetpulse {
  from {
    border-color: #c80000;
  }
  to {
    border-color: #ff4646;
  }
}
@keyframes targetpulse {
  from {
    border-color: #c80000;
  }
  to {
    border-color: #ff4646;
  }
}
.test-menu {
  width: 170px;
  text-align: center;
  vertical-align: middle;
}
.test-menu button {
  padding: 20px;
  margin: 20px;
}
.area-map {
  position: relative;
  float: right;
  margin-right: 15px;
}
.area-map .main {
  position: relative;
  width: 185px;
  height: 185px;
  border-style: double;
  padding: 0px;
  background-color: #DCDCED;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.area-map .main canvas.cover-map {
  position: absolute;
  width: 193px;
  height: 193px;
  left: -6px;
  top: -6px;
}
.area-map .main .cover-map {
  position: absolute;
  width: 0;
  height: 0;
  left: -6px;
  top: -6px;
}
.area-map .main .terrain {
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.area-map .main .shadow {
  width: 0;
  height: 0;
  position: absolute;
}
.area-map .main .shadow div {
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: yellow;
  opacity: 0.07;
}
.area-map .main .move-target {
  position: absolute;
  display: none;
}
.area-map .main .move-target div {
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  border-style: dotted;
  border-color: red;
  border-width: 3px;
  width: 8px;
  height: 8px;
  left: -7px;
  top: -7px;
  animation: targetpulse 0.5s linear 0s infinite alternate;
  -webkit-animation: targetpulse 0.5s linear 0s infinite alternate;
}
.area-map .main .characters {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.area-map .main .characters .character.hearable div {
  border-color: yellow;
}
.area-map .main .characters .character.current div {
  background: #1100CC;
  z-index: 1;
}
.area-map .main .characters .character {
  position: absolute;
  width: 0;
  height: 0;
}
.area-map .main .characters .character div {
  cursor: pointer;
  position: relative;
  border-style: double;
  border-width: 3px;
  padding: 0px;
  background-color: #3300CC;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: -8px;
  top: -8px;
}
.area-map .main .characters .character div:hover {
  width: 12px;
  height: 12px;
  left: -9px;
  top: -9px;
}
.area-map .main .places {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.area-map .main .places .place {
  position: absolute;
  width: 0;
  height: 0;
}
.area-map .main .places .place div {
  cursor: pointer;
  position: relative;
  padding: 0px;
  background-color: transparent;
  width: 12px;
  height: 12px;
  left: -9px;
  top: -9px;
}
.area-map .main .places .place div:hover {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  left: -12px;
  top: -12px;
  border-style: dotted double;
  border-width: 3px;
  border-color: red;
}
.area-map .great-tower {
  position: absolute;
}
.area-map .great-tower span {
  cursor: pointer;
  position: absolute;
  padding: 0;
  width: 14px;
  height: 14px;
  left: -7px;
  top: -7px;
}
.area-map .great-tower span:hover {
  padding: 2px;
  width: 14px;
  height: 14px;
  left: -9px;
  top: -9px;
}
.area-map .btn-toolbar {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
