<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    'mongo' => array(
        'server'    => 'mongodb://localhost:27017',
        'database'  => 'alcarin',
        //profiling enable
        'profiling' => true,
    ),

    'minifier'    => array(
        'development_mode'      => true,
        'js_adapter'           => array(
            'class'   => 'AssetsCompiler\Minifier\Adapter\Closure',
            'options' => array(
                'exec' => '/usr/bin/google-closure.jar',
                'flags'   => array(
                    '--warning_level' => 'QUIET',
                ),
            ),
        ),
        'css_adapter'           => array(
            'class'   => 'AssetsCompiler\Minifier\Adapter\Minify',
            'options' => array(
            ),
        ),
    ),

    'logs'  => array(
        'writers'   => array(
            //writing logs to database
            /*'mongo-log-writer' => array(
                'service' => 'mongo-log-writer',
                //you can set minimal priority of messages that will be logged to this writer
                'min-priority'  => Zend\Log\Logger::ERR,
            ),*/
            //writing logs to file, remeber to make it writeable!
            /*'stream'    => array(
                'stream' => __DIR__ . '/../../data/logs/alcarin.log',
            ),*/
        )
    ),

    'zfcuser'   => array(
        //small cost to fast login on development env
        'password_cost' => 4,
    ),

    'translator' => array(
        'locale' => 'pl_PL',
    ),
);
