<?php

return array(
    'minifier'    => array(
        'development_mode'      => true,
        'js_adapter'           => array(
            'class'   => 'AssetsCompiler\Minifier\Adapter\UglifyJS2',
            'options' => array(
            ),
        ),
        'css_adapter'           => array(
            'class'   => 'AssetsCompiler\Minifier\Adapter\Minify',
            'options' => array(
            ),
        ),
        'bundles'   => array(
            'js'    => array(
                'output_dir'     => '/js/bundles',
                'list'              => array(
                    'external'  => array(
                        'sources'   => array(
                            '/js/jquery.js',
                            '/js/bootstrap.min.js',
                            '/js/jquery.cookie.js',
                        ),
                    ),
                    //files enough for guest users
                    'guest' => array(
                        'sources' => array(
                            '/js/compiled_coffee/core.js',
                            '/js/compiled_coffee/errors-core.js',
                            '/js/compiled_coffee/test.js',
                            '/js/compiled_coffee/JQueryPlugins/RESTful.js',
                        ),
                    ),
                    //files enough for admins
                    'admin' => array(
                        'sources' => array(
                            '/js/compiled_coffee/core.js',
                            '/js/compiled_coffee/test.js',
                        ),
                    ),
                    //files for regular players
                    'player' => array(
                        'sources' => array(
                            '/js/compiled_coffee/core.js',
                            '/js/compiled_coffee/test.js',
                        ),
                    ),
                ),
            ),
            'css'    => array(
                'output_dir' => '/css/bundles',
                'list'       => array(
                    'external'  => array(
                        'sources'   => array(
                            '/css/style.css',
                            '/css/bootstrap.min.css',
                            '/css/bootstrap-responsive.min.css',
                        ),
                    ),
                    'guest' => array(
                        'sources' => '/css/style.css',
                    ),
                    //files enough for admins
                    'admin' => array(
                        'sources' => '/css/style.css',
                    ),
                    //files for regular players
                    'player' => array(
                        'sources' => '/css/style.css',
                    ),
                ),
            ),
        ),
    ),
);