{% extends "admin-layout" %}

{% block userbar_right %}
<li class="pull-right">
    <a href="{{ uri('admin/orbis/default', {controller: 'gateways-panel'}) }}">Gateways</a>
</li>
{% endblock %}

{% block content %}
<div class="map-editor" ng-app="orbis.editor">
    <div class="row" ng-controller="Alcarin.Orbis.Editor.App">
        <div class="span6">
            <h2>Map Editor</h2>

            <div class="map-viewport" ng-controller="Alcarin.Orbis.Editor.Map" alc-disabled="mapsaving">
                <div class="top">
                    <button ng-click="dragMap(0,-0.1)" class="btn btn-block btn-inverse top10">
                        <i class="icon-chevron-up"></i>
                    </button>
                    <button ng-click="dragMap(0,-0.4)" class="btn btn-block btn-inverse top40">
                        <i class="icon-chevron-up"></i>
                        <i class="icon-chevron-up"></i>
                    </button>
                    <button ng-click="dragMap(0,-1)" class="active-link btn btn-block btn-inverse top100">
                        <i class="icon-chevron-up"></i>
                        <i class="icon-chevron-up"></i>
                        <i class="icon-chevron-up"></i>
                    </button>
                </div>

                <div class="right">
                    <button ng-click="dragMap(0.1,0)" class="btn btn-block btn-inverse right10">
                        <i class="icon-chevron-right"></i>
                    </button>
                    <button ng-click="dragMap(0.4,0)" class="btn btn-block btn-inverse right40">
                        <i class="icon-chevron-right"></i>
                        <i class="icon-chevron-right"></i>
                    </button>
                    <button ng-click="dragMap(1,0)" class="btn btn-block btn-inverse right100">
                        <i class="icon-chevron-right"></i>
                        <i class="icon-chevron-right"></i>
                        <i class="icon-chevron-right"></i>
                    </button>
                </div>

                <div class="bottom">
                    <button ng-click="dragMap(0,0.1)" class="btn btn-block btn-inverse bottom10">
                        <i class="icon-chevron-down"></i>
                    </button>
                    <button ng-click="dragMap(0,0.4)" class="btn btn-block btn-inverse bottom40">
                        <i class="icon-chevron-down"></i>
                        <i class="icon-chevron-down"></i>
                    </button>
                    <button ng-click="dragMap(0,1)" class="btn btn-block btn-inverse bottom100">
                        <i class="icon-chevron-down"></i>
                        <i class="icon-chevron-down"></i>
                        <i class="icon-chevron-down"></i>
                    </button>
                </div>

                <div class="left">
                    <button ng-click="dragMap(-0.1,0)" class="btn btn-block btn-inverse left10">
                        <i class="icon-chevron-left"></i>
                    </button>
                    <button ng-click="dragMap(-0.4,0)" class="btn btn-block btn-inverse left40">
                        <i class="icon-chevron-left"></i>
                        <i class="icon-chevron-left"></i>
                    </button>
                    <button ng-click="dragMap(-1,0)" class="btn btn-block btn-inverse left100">
                        <i class="icon-chevron-left"></i>
                        <i class="icon-chevron-left"></i>
                        <i class="icon-chevron-left"></i>
                    </button>
                </div>

                <div class="canvas-container" alc-spin="maploading || mapsaving">
                    <canvas width="500" height="500" alc-map-manager map-brush="brush" map-changes="changes"
                        map-change="mapChange()" map-fields="fields" map-center="loc" map-size="step">
                        You browser don't support canvas, can not continue.
                    </canvas>
                </div>
            </div>
        </div>
        <div class="span6" >
            <h2>Toolbar</h2>
            <div class="toolbar">
                <div class="brushes">
                    <h4>Current brush</h4>
                    <div class="well well-inverse current">
                        <div class="row-fluid">
                            <div class="span2">
                                <a href="#" class="brush-color color-picker" alc-color-picker
                                     data-color-format="rgb" ng-model="brush.color">
                                </a>
                            </div>
                            <div class="size">
                            <label class="span1">Size:</label>
                            <div class="span9">
                                <jslider options="{min: 1, max: 10}" value="brush.size"></jslider>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-error" ng-show="has_changes&&!ignored_changes"
                    ng-animate="{show: 'animated bounceInRight', hide: 'animated bounceOutRight'}">
                    You have unsaved changes!
                    <button type="button" class="close" ng-click="ignored_changes=true">&times;</button>
                    <button class="btn btn-inverse btn-block" ng-click="saveChanges()" ng-disabled="mapsaving">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}